*{
    box-sizing: border-box; 
}
body{
    margin: 0;
    padding: 0;
    background-color:#eac8ca;
    color: #1a101c;
}
header{
    color: #bfabcb;
    background-color: #8d89a6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header h1 {
    font-size: 4vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e6c0e9;
}
.photo {
    /* display: absolute; */
    width: 50px;
    height: 100px;
    /* overflow: hidden; */
    /* align-items: center; */
}
